* {
  margin: 0;
  padding: 0;
}
/* header {
} */
header .contact {
  padding: 5px 5px;
  text-align: center;
}

header .contact a {
  text-decoration: none;
  color: #562900;
  padding-left: 25px;
  font-style: italic;
  font-size: 20px;
}
header .contact a:hover {
  text-decoration: underline;
}
header nav {
  background-color: #562900;
  padding: 15px;
}

header .nav-logo i {
  font-size: 50px;
  color: #fff;
}

header ul {
  float: right;
  margin-top: -46px;
}

header li {
  list-style: none;
  display: inline;
  margin-right: 30px;
}

header .nav-items a {
  text-decoration: none;
  color: white;
}
header .nav-items input {
  padding: 10px;
}
header .nav-items input::placeholder:hover {
  text-decoration: underline;
}
header .nav-items i {
  font-size: 23px;
  color: white;
}

/* SECTION */
.section-a {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section-a h1 {
  font-size: 45px;
  color: #562900;
  margin-bottom: 10px;
}
.section-a p {
  font-size: 30px;
  margin-bottom: 10px;
}
.section-a button {
  padding: 15px 30px;
  background-color: #562900;
  color: #fff;
}

/* section-b */
.section-b {
  margin: 100px 33px 0px 33px;
}

.section-b h1 {
  text-align: center;
  font-size: 40px;
  color: #562900;
  line-height: 2;
}
.section-b p {
  text-align: center;
  font-size: 20px;
  color: #562900;
  line-height: 1.5;
}

.section-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.section-container .sec-col {
  background-color: #f6f6f6;
}
.section-container .sec-col h2 {
  text-align: center;
  font-size: 20px;
  color: #562900;
  margin-top: 15px;
  line-height: 1.5;
}
.section-container .sec-col .btn {
  text-align: center;
  margin-top: 10px;
}

.section-container .sec-col button {
  background-color: #562900;
  color: #fff;
  padding: 10px 15px;
}
footer {
}

footer .footer-container {
  padding: 100px 60px 0px 60px;
  display: flex;
}

.footer-content h1 {
  color: #562900;
  font-size: 40px;
  text-transform: capitalize;
  line-height: 2;
}
.footer-content p {
  color: #562900;
  width: 70%;
  line-height: 1.5;
  font-size: 20px;
  margin-bottom: 16px;
}

.footer-content h4 {
  color: #562900;
  font-size: 15px;
}

.footer-img img {
  border-radius: 50%;
}
.footer-details {
  /* display: flex; */
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #562900;
  padding: 50px 60px 50px 60px;
  color: #fff;
}
.foot-col h1 {
  font-size: 30px;
  line-height: 1.5;
}
.foot-col p {
  font-size: 15px;
  line-height: 1.5;
}
.contact-details {
  margin-right: 35px;
}

.foot-contact {
  display: flex;
  align-items: baseline;
}
.contact-details li {
  list-style: none;
  margin-bottom: 15px;
}
.contact-details li a {
  text-decoration: none;
  color: #fff;
}

.fill-in {
  position: relative;
}

.foot-p {
  font-size: 18px;
  line-height: 1.5;
}
.foot-col input {
  padding: 10px;
  width: 90%;
}

.foot-col button {
  padding: 10px;
  background-color: #562900;
  color: #fff;
  position: absolute;
  top: 44px;
  left: 123px;
}
